<ion-modal-view>
  <ion-header-bar>
    <h1 class="title">Login</h1>
    <div class="buttons">
      <button class="button button-clear" ng-click="closeLogin()">Close</button>
    </div>
  </ion-header-bar>
  <ion-content>
    <form ng-submit="doLogin(userLogin)" name="form_login" novalidate>
      <div class="list">
        <label class="item item-input">
          <span class="input-label">Email</span>
          <input type="text" ng-model="$parent.userLogin.username" id="user_name">
        </label>
        <label class="item item-input">
          <span class="input-label">Password</span>
          <input type="password" ng-model="$parent.userLogin.password" id="user_pass">
        </label>
        <label class="item">
          <button class="button button-block button-positive" type="submit">Log in</button>
        </label>

        <center>{{loginData.loginErr}}</center>
      </div>
    </form>

    <label class="item">
      <button class="button button-block button-positive" ng-click="signup()">Sign up</button>
    </label>
    <label class="item">
      <button class="button button-block button-positive" ng-click="reset()">Forgot Password</button>
    </label>

  </ion-content>
</ion-modal-view>
