<ion-view title="Login">
  <ion-nav-buttons side="right">
    <div class="buttons">
      <button class="button button-clear button-positive" ui-sref="app.about">Close</button>
    </div>
  </ion-nav-buttons>
  <ion-content>
    <form ng-submit="doLogin(userLogin)" name="form_login" novalidate>
      <div class="list">
        <label class="item item-input">
          <span class="input-label">Email</span>
          <input type="text" ng-model="$parent.userLogin.username" id="user_name">
        </label>
        <label class="item item-input">
          <span class="input-label">Password</span>
          <input type="password" ng-model="$parent.userLogin.password" id="user_pass">
        </label>
        <label class="item">
          <button class="button button-block button-positive" type="submit">Log in</button>
        </label>

        <center>{{loginData.loginErr}}</center>
      </div>
    </form>

    <label class="item">
      <button class="button button-block button-positive" ui-sref="signup">Sign up</button>
    </label>
    <label class="item">
      <button class="button button-block button-positive" ui-sref="reset">Forgot Password</button>
    </label>

  </ion-content>
</ion-view>
